.img1 {
    height: 300px;
}

@media screen and (min-width:1000px) and (max-width:1555px) {

    .gall {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .gall-sm {
        height: 100px;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
    }

    .main-img {
        height: 450px;
        margin: 10px 20px;
        box-shadow: 0 0 10px 10px #a3a3a3;
        border-radius: 20px;
    }

    .cont-img {
        height: 80px;
    }

    .test-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10px auto;
        border-radius: 30px;
    }

}


@media screen and (min-width:700px) and (max-width:1000px) {

    .gall {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .gall-sm {
        height: 75px;
        display: block;
        margin: 10px;
        border-radius: 10px;
    }

    .main-img {
        height: 300px;
        margin: 10px 20px;
        box-shadow: 0 0 10px 10px #a3a3a3;
        border-radius: 20px;
    }

    .option {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .cont-img {
        height: 80px;
    }

    .test-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10px auto;
        border-radius: 30px;
    }

}



@media screen and (min-width:400px) and (max-width:700px) {

    .gall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gall-sm {
        height: 75px;
        display: block;
        margin: 10px;
        border-radius: 10px;
    }

    .main-img {
        height: 300px;
        margin: 10px 20px;
        box-shadow: 0 0 10px 10px #a3a3a3;
        border-radius: 20px;
    }

    .option {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cont-img {
        height: 40px;
    }

    .test-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10px auto;
        border-radius: 30px;
    }

}


@media screen and (max-width:400px) {

    .gall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gall-sm {
        height: 50px;
        display: block;
        margin: 10px;
        border-radius: 10px;
    }

    .main-img {
        height: 200px;
        margin: 10px 20px;
        box-shadow: 0 0 10px 10px #a3a3a3;
        border-radius: 20px;
    }

    .option {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cont-img {
        height: 40px;
    }

    .test-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10px auto;
        border-radius: 30px;
    }

}

.test-img {
    height: 300px;
    display: block;
    margin: 10px;
    border-radius: 30px;
}

.test-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.selector {
    border: solid 1x black;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    margin: 2px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.cont-img:hover {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #a3a3a3;
    padding: 5px;
}

.menu-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.menu-item{
    box-shadow: 0 0 10px 5px #a3a3a3;
}