@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Calligraffitti&family=Jaro:opsz@6..72&family=Rubik+Glitch&display=swap');


.font-heading {
    font-family: "Acme", sans-serif;
}

.font-heading2 {
    font-family: "Jaro", sans-serif;
}

.icon {
    height: 60px;
}

.theme-light {
    background-color: white;
}

.theme-dark {
    background-color: black;
    color: white;
}

.footer-logo {
    height: 100px;
}

.contact-img {
    height: 25px;
}

.headerstart {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/starter.jpg);
    position: relative;
    padding: 210px 0 90px 0;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    color: black;
    background-color: #e7e6e6;
    margin: 10px 20px;
}

@media screen and (min-width:500px) and (max-width:1550px) {
    .header-img {
        height: 50px;
    }
}

@media screen and (max-width:500px) {
    .header-img {
        height: 30px;
    }
}

.btn:hover{
    box-shadow: 0 0 5px 5px #d4d4d4;
}